<div class="overflow-x-auto">
    <.table class="table-auto">
        <%= render_slot(@table_head) %>
        <%= render_slot(@inner_block) %>
        <%= if @table_foot do %>
        <%= render_slot(@table_foot) %>
        <% end %>
    </.table>
</div>
